/*radio button*/
.form-group-radio{
    padding-left: 30px;
}
.input-title{
    margin-bottom: 12px;
    margin-left: 0 !important;
    cursor: pointer;
    color: #343a40;
    font-size: 15px;
    font-family: 'Montserrat-Medium',sans-serif;
    text-transform: capitalize;
}
@media (max-width: 1300px){
    .form-group-radio{
        padding-left: 10px;
    }
}